<div [@routerTransition]>
    <h2 class="text-muted">Dashboard </h2>

    <div class="row">
        <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
        <div class="col-sm-12 col-md-8">
            <div class="jumbotron shadow">
                <h1>
                    <fa name="bolt"></fa> ThunderAdmin <sub>V 1.0</sub></h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam perferendis incidunt distinctio nemo accusantium ipsum, repellendus autem quis velit facilis error nam sed vitae dignissimos. In distinctio fuga necessitatibus.
                </p>
                <p>
                    <a href="javascript:void(0)" class="btn btn-primary btn-lg" role="button">Learn more »</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <app-user-info></app-user-info>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <app-site-activity></app-site-activity>
        </div>
    </div>
</div>
