<div class="card text-white bg-primary shadow mb-3">
    <div class="card-header">
        User Info (<strong>Actually User</strong>)
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <b>Name: </b>{{name}}
            </div>
            <div class="col-md-12">
                <b>Username: </b>{{username}}
            </div>
            <div class="col-md-12">
                <b>Email: </b>{{email}}
            </div>
            <div class="col-md-12">
                <b>Creation Date: </b> {{created_at}}
            </div>
            <div class="col-md-12">
                <b>Last Modification: </b> {{updated_at}}
            </div>
        </div>
    </div>
</div>