<div class="card text-white bg-primary shadow mb-3">
    <div class="card-header">
        User Info (<strong>Actually User</strong>)
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <b>Name: </b>lorem ipsum
            </div>
            <div class="col-md-12">
                <b>Username: </b>lorem24
            </div>
            <div class="col-md-12">
                <b>Email: </b>lorem@mail.ipsum
            </div>
            <div class="col-md-12">
                <b>Creation Date: </b> July 20, 2019 01:45 AM
            </div>
            <div class="col-md-12">
                <b>Last Modification: </b> July 20, 2019 02:00 AM
            </div>
        </div>
    </div>
</div>