<div class="container-fluid p-5 shadow">
    <div class="row">
        <div class="col-sm">
            <h5 class="text-primary">{{ 'Users' | translate }} {{ 'Info' | translate }}</h5>
        </div>
        <div class="col-sm d-flex justify-content-end">
            <a [routerLink]="['/users']" href="javascript:void(0)" class="btn btn-success btn-sm"><i class="fa fa-users"></i> {{ 'Users' | translate }}</a
            >
        </div>
    </div>
    <div class="row mt-4">
        <div class="card mb-3">
            <div class="card-header">{{ user.name }}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12"><b>Username: </b>{{ user.username }}</div>
                    <div class="col-md-12"><b>Email: </b>{{ user.email }}</div>
                    <div class="col-md-12"><b>Role: </b>{{ user.is_admin === 1 ? 'Administrator' : 'User' }}</div>
                    <div class="col-md-12"><b>Creation Date: </b> {{ user.created_at }}</div>
                    <div class="col-md-12"><b>Last Modification: </b> {{ user.updated_at }}</div>
                </div>
            </div>
        </div>
    </div>
</div>